<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Tempalte engines</title>
</head>
<body>
    <%- include('partials/nav') %>
    <p>Welcome to home page - tempalte engines tutorial</p>
</body>
</html>